<div class="ml-32 mr-32">
  <h1 class="text-sky-500 text-xl pt-6 pb-6 text-center">Bienvenue ! </h1>
  <h2 class="text-lg text-center pb-6">Votre aventure littéraire commence ici. Inscrivez-vous, et rejoignez notre communauté de lecteurs passionnés. </h2>

  <div class="max-w-xl mx-auto border p-10 rounded border-sky-500 bg-slate-50 dark:bg-slate-700">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mt-6">
        <%= f.label :user_name, "Mon pseudo * :" %><br />
        <%= f.text_field :user_name, autofocus: true, autocomplete: "Votre Pseudo", class:"rounded w-full p-1 mt-2 focus:outline-none focus:ring-0 focus:border-sky-500 border-2" %>
      </div>

      <div class="field mt-6">
        <%= f.label :email, "Mon email * :"%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"rounded w-full p-1 mt-2 focus:outline-none focus:ring-0 focus:border-sky-500 border-2" %>
      </div>

      <div class="field mt-6">
        <%= f.label :password, "Mot de passe * :" %>
        <% if @minimum_password_length %>
        <em class="text-slate-500 dark:text-slate-300">(au minimum <%= @minimum_password_length %> caractères dont un chiffre, une lettre majuscule et un caractère spécial.)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"rounded w-full p-1 mt-2 focus:outline-none focus:ring-0 focus:border-sky-500 border-2" %>
      </div>

      <div class="field mt-6">
        <%= f.label :password_confirmation, "confirmer le mot de passe * :" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"rounded w-full p-1 mt-2 focus:outline-none focus:ring-0 focus:border-sky-500 border-2" %>
      </div>

      <div class="actions">
        <%= f.submit "S'inscrire", class:"mt-10 bg-sky-400 px-4 py-2 min-w-[125px] rounded hover:cursor-pointer hover:bg-sky-300" %>
      </div>
    <% end %>

    <p class="pt-6 text-right text-xs text-slate-500 dark:text-slate-300">Vous avez déjà un compte ? <%= link_to "Connectez-vous !", new_session_path(resource_name), class:"text-slate-950 dark:text-slate-50" %></p>
  </div>


</div>
